# option for the end of project
#*.gitignore
#docs

# IDE settings
.vscode

# MacOS
*.DS_Store

# Compiled Object files
*.o
*.out
*.d


#the officel testers
cgi_tester
tester

# executable files
webserv
