# option for the end of project
#*.gitignore
#docs

# robin
_R_*
CLAUDE.md

# IDE settings
.vscode

# clangd
compile_commands.json
.clang-format

# MacOS
*.DS_Store

# Compiled Object files
*.o
*.out
*.d


#the officel testers
cgi_tester
tester


# executable files
webserv

#debug executable files
webserv_debug